---
http_interactions:
- request:
    method: get
    uri: https://api.exco.in/v1/account/orders/issue/<%= $currency %>/<%= $commodity %>/<%= $type %>/<%= $amount %>/<%= $price %>?expire=1417294489
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 4Tas39EdsfAZ2rOFFY345wvIOMcD1IjLNdo9fudQfUdd
      Api-Signature:
      - 6bd2e0b89206f0207682bf158d3d6731642c44052afafeff20b29c208df991ad
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"BTC-BLK-BID-Ot2EUeBHPUJYJbAd4V1lKd","timestamp":"2014-11-29
        20:44:49 UTC","type":"<%= $type %>","price":"<%= $price %>","commodity_amount":"451","currency_amount":"<%= $amount %>","status":"OPEN"}'
  recorded_at: Sat, 29 Nov 2014 20:44:49 GMT
recorded_with: VCR 2.9.3
