---
http_interactions:
- request:
    method: get
    uri: https://api.exco.in/v1/account/order/<%= order_id %>/cancel?expire=1417294490
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 4Tas39EdsfAZ2rOFFY345wvIOMcD1IjLNdo9fudQfUdd
      Api-Signature:
      - 83eb44be9a79dae20c509682b00197b5a12fee041376b7bdcc6c922b71da801d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"<%= order_id %>","timestamp":"2014-11-29
        20:44:49 UTC","type":"BID","price":"0.00007250","commodity_amount":"451.53903448","currency_amount":"0.03273658","status":"CLOSED","trades":[]}'
  recorded_at: Sat, 29 Nov 2014 20:44:50 GMT
recorded_with: VCR 2.9.3
