---
http_interactions:
- request:
    method: get
    uri: https://api.exco.in/v1/exchange/BTC/BLK/chart/candlestick?expire=1417129278
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 4Tas39EdsfAZ2rOFFY345wvIOMcD1IjLNdo9fudQfUdd
      Api-Signature:
      - a785b66257c978accf7c8781831d2fafe9a1f7456bc737565e7adbc31b8b9b52
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"timestamp":"2014-11-10T04:20:00.000Z","unix_timestamp":"1415593200","open":"0.00000000","close":"0.00011000","high":"0.00011000","low":"0.00011000","commodity_volume":"2.00027273","currency_volume":"0.00022003"},{"timestamp":"2014-11-10T04:30:00.000Z","unix_timestamp":"1415593800","open":"0.00011000","close":"0.00014990","high":"0.00015000","low":"0.00014000","commodity_volume":"12.13831443","currency_volume":"0.00178000"},{"timestamp":"2014-11-10T04:40:00.000Z","unix_timestamp":"1415594400","open":"0.00014990","close":"0.00014990","high":"0.00014990","low":"0.00014000","commodity_volume":"24.52835223","currency_volume":"0.00366690"},{"timestamp":"2014-11-10T04:50:00.000Z","unix_timestamp"[...]
