---
http_interactions:
- request:
    method: get
    uri: https://api.exco.in/v1/exchange/BTC/BLK/orders?expire=1417129277
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 4Tas39EdsfAZ2rOFFY345wvIOMcD1IjLNdo9fudQfUdd
      Api-Signature:
      - b781ba5649508b71b209cd92ba006f11d0d56a99a3eb0b529a3cc85d9eacdc17
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"count":31,"type":"BID","orders":[{"id":"BTC-BLK-BID-mBljUAg9ozU9wWdLEtSJkG","price":"0.00007200","commodity_amount":"3466.88305556","currency_amount":"0.24961558"},{"id":"BTC-BLK-BID-xMkbH4fSkE5wCGtzzLAIvi","price":"0.00007200","commodity_amount":"7054.33847222","currency_amount":"0.50791237"},{"id":"BTC-BLK-BID-zicMPSv2dSLFzKhHdNQt8A","price":"0.00007100","commodity_amount":"440.26873239","currency_amount":"0.03125908"},{"id":"BTC-BLK-BID-Wwm6cK4xwAuUyXvZmBYYne","price":"0.00007050","commodity_amount":"851.06382979","currency_amount":"0.06000000"},{"id":"BTC-BLK-BID-adKNPOnhpWbkqaU9BbVWdz","price":"0.00007000","commodity_amount":"1696.087285[...]
