---
http_interactions:
- request:
    method: get
    uri: https://api.exco.in/v1/exchange/BTC/BLK/orders/type/BID?expire=1417131883
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 4Tas39EdsfAZ2rOFFY345wvIOMcD1IjLNdo9fudQfUdd
      Api-Signature:
      - 41c9673019a6700ae978562a58d72005f006d196529156b228f8c3dd6071d29b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"count":32,"type":"BID","orders":[{"id":"BTC-BLK-BID-XMVS8K0Uz80W66MOqds9cA","price":"0.00007425","commodity_amount":"4116.80255892","currency_amount":"0.30567259"},{"id":"BTC-BLK-BID-mBljUAg9ozU9wWdLEtSJkG","price":"0.00007200","commodity_amount":"3466.88305556","currency_amount":"0.24961558"},{"id":"BTC-BLK-BID-xMkbH4fSkE5wCGtzzLAIvi","price":"0.00007200","commodity_amount":"7054.33847222","currency_amount":"0.50791237"},{"id":"BTC-BLK-BID-zicMPSv2dSLFzKhHdNQt8A","price":"0.00007100","commodity_amount":"440.26873239","currency_amount":"0.03125908"},{"id":"BTC-BLK-BID-Wwm6cK4xwAuUyXvZmBYYne","price":"0.00007050","commodity_amount":"851.063829[...]
