---
http_interactions:
- request:
    method: get
    uri: https://api.exco.in/v1/exchange/BTC/BLK/chart/candlestick/1D?expire=1417129280
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 4Tas39EdsfAZ2rOFFY345wvIOMcD1IjLNdo9fudQfUdd
      Api-Signature:
      - d6eca77f0bd5dbf7d5846646d0993fd365f843ebf47712b560595fef93f7ea30
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"timestamp":"2014-11-26T23:00:00.000Z","unix_timestamp":"1417042800","open":"0.00007600","close":"0.00007600","high":"0.00007600","low":"0.00007600","commodity_volume":"0.00000000","currency_volume":"0.00000000"},{"timestamp":"2014-11-26T23:10:00.000Z","unix_timestamp":"1417043400","open":"0.00007600","close":"0.00007600","high":"0.00007600","low":"0.00007600","commodity_volume":"0.00000000","currency_volume":"0.00000000"},{"timestamp":"2014-11-26T23:20:00.000Z","unix_timestamp":"1417044000","open":"0.00007600","close":"0.00007600","high":"0.00007600","low":"0.00007600","commodity_volume":"0.00000000","currency_volume":"0.00000000"},{"timestamp":"2014-11-26T23:30:00.000Z","unix_timestamp":"[...]
