---
http_interactions:
- request:
    method: get
    uri: https://api.exco.in/v1/wallet/BTC/reserves?expire=1417298276
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 4Tas39EdsfAZ2rOFFY345wvIOMcD1IjLNdo9fudQfUdd
      Api-Signature:
      - b70a9391b5178ffeeb06750137384f0be521aead4f3b85e7d5db68a0b323ecdb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"iso_code":"BTC","currency_name":"Bitcoin","hot_balance":"12.38711208","cold_balance":"0.00000000","block_height":"332186","last_updated":"2014-11-29
        13:19:48 UTC","hot_addresses":[{"address":"1F7GAG6KSLX8tmYH3hMqigarqmMQ3fkgtj","signature":"IFtUbxRpzuJOfzIIBWFuHYEYdCyeZ+wfjVZXIRAxJO03ohR6Cu8SpSiJEL36xkAmJLjgjxOv5GXDniAHEJLgkWE=","amount":{"fractional":"102424754.0","currency":{"id":"blk","priority":1,"iso_code":"BLK","name":"Blackcoin","symbol":"BLK","disambiguate_symbol":null,"alternate_symbols":null,"subunit":"Blackcent","subunit_to_unit":100000000,"symbol_first":true,"html_entity":null,"decimal_mark":".","thousands_separator":",","iso_numeric":null,"smallest_denomination":null},"bank":{"rounding_method":null,"rates":{"BLK_TO_BTC":1,"BTC_TO_BLK":1,"LTC_TO_BTC":1,"BTC_TO_LTC":1,"DRK_TO_BTC":1,"BTC_TO_DRK":1,"PPC_TO_BTC":1,"BTC_TO_PPC":1,"DOGE_TO_BTC":1,"BTC_TO_DOGE":1,"NBT_TO_BTC":1,"BTC_TO_NBT":1,"NSR_TO_BTC":1,"BTC_TO_NSR":1,"BLK_TO_LTC":1,"LTC_TO_BLK":1,"BLK_TO_DRK":1,"DRK_TO_BLK":1,"BLK_TO_PPC":1,"PPC_TO_BLK":1,"BLK_TO_DOGE":1,"DOGE_TO_BLK":1,"BLK_TO_NBT":1,"NBT_TO_BLK":1,"BLK_TO_NSR":1,"NSR_TO_BLK":1},"mutex":{}}},"percent_total":"8.27"},{"address":"1EaG3qdk1oh2fvhwXTsv1ivxQN13C5bPUb","signature":"IBrD3/ndaalsSO7sp4tootr/GZhzl0h6nCDvqMruK226IvR5lAT7YUkDMEi9R+WoPUHnwDJgLr9UVHK7QOKqUDg=","amount":{"fractional":"7100000.0","currency":{"id":"blk","priority":1,"iso_code":"BLK","name":"Blackcoin","symbol":"BLK","disambiguate_symbol":null,"alternate_symbols":null,"subunit":"Blackcent","subunit_to_unit":100000000,"symbol_first":true,"html_entity":null,"decimal_mark":".","thousands_separator":",","iso_numeric":null,"smallest_deno[...]
