---
http_interactions:
- request:
    method: get
    uri: https://api.exco.in/v1/wallet/BTC?expire=1417298275
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 4Tas39EdsfAZ2rOFFY345wvIOMcD1IjLNdo9fudQfUdd
      Api-Signature:
      - 269b5dee81a1f52978b4b18d29147c387456fdaf93cd38e654224f9ca2823eb9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"iso_code":"BTC","currency_name":"Bitcoin","hot_balance":"12.38711208","cold_balance":"0.00000000","block_height":"332186","transaction_fee":"0.00020000","confirmations":"3","last_updated":"2014-11-29
        13:19:48 UTC"}'
  recorded_at: Sat, 29 Nov 2014 21:47:56 GMT
recorded_with: VCR 2.9.3
