---
http_interactions:
- request:
    method: get
    uri: https://api.exco.in/v1/summary?expire=1417128693
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 4Tas39EdsfAZ2rOFFY345wvIOMcD1IjLNdo9fudQfUdd
      Api-Signature:
      - e2dc303854809079cd69c1ed7062416fb4fdd4372121e3b91c464b9e9d06fa99
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"currency":"BTC","commodity":"BLK","last_price":"0.00007428","high":"0.00007600","low":"0.00007200","volume":"3.23791014","top_bid":"0.00007200","lowest_ask":"0.00007423","ask_depth":"41984.31750071","ask_count":"135","bid_depth":"1.04151906","bid_count":"31"},{"currency":"BLK","commodity":"DRK","last_price":"76.00000000","high":"0.00000000","low":"0.00000000","volume":"0.00000000","top_bid":"76.00000000","lowest_ask":"95.00000000","ask_depth":"4.79653306","ask_count":"2","bid_depth":"3104.14482286","bid_count":"26"},{"currency":"BLK","commodity":"LTC","last_price":"175.00000000","high":"0.00000000","low":"0.00000000","volume":"0.00000000","top_bid":"100.00000000","lowest_ask":"106.00000000","ask_depth":"2.00000000","ask_count":"1","bid_depth":"[...]
