---
http_interactions:
- request:
    method: get
    uri: https://api.exco.in/v1/summary/BTC?expire=1417128694
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 4Tas39EdsfAZ2rOFFY345wvIOMcD1IjLNdo9fudQfUdd
      Api-Signature:
      - 1ee8049724628cf6cd3e1e79a05d61935e6912ad19d25898228bbbd2308269a1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"currency":"BTC","commodity":"BLK","last_price":"0.00007428","high":"0.00007600","low":"0.00007200","volume":"3.23791014","top_bid":"0.00007200","lowest_ask":"0.00007423","ask_depth":"41984.31750071","ask_count":"135","bid_depth":"1.04151906","bid_count":"31"},{"currency":"BTC","commodity":"DRK","last_price":"0.00632000","high":"0.00000000","low":"0.00000000","volume":"0.00000000","top_bid":"0.00000000","lowest_ask":"0.00650000","ask_depth":"0.95598940","ask_count":"8","bid_depth":"0.00000000","bid_count":"0"},{"currency":"BTC","commodity":"LTC","last_price":"0.01000000","high":"0.00000000","low":"0.00000000","volume":"0.00000000","top_bid":"0.00800000","lowest_ask":"0.00999999","ask_depth":"14.13834314","ask_count":"13","bid_depth":"0.00080000","bid_count":"1"},{"currency":"BTC","commodity":"PPC","last_price":"0.00210000","high":"0.00000000","low":"0.00000000","volume":"0.00000000","top_bid":"0.00000000","lowest_ask":"0.00210000","ask_depth":"1.87999200","ask_count":"12","bid_depth":"0.00000000","bid_count":"0"},{"currency":"BTC","commodity":"DOGE","last_price":"0.00000065","high":"0.00000071","low":"0.00000064","volume":"0.01002467","top_bid":"0.00000065","lowest_ask":"0.00000066","ask_depth":"1038.00000000","ask_count":"1","bid_depth":"0.00493461","bid_count":"5"}]'
  recorded_at: Thu, 27 Nov 2014 22:41:34 GMT
recorded_with: VCR 2.9.3
