---
http_interactions:
- request:
    method: get
    uri: https://api.exco.in/v1/exchange/BTC/BLK/summary?expire=1417461866
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 4Tas39EdsfAZ2rOFFY345wvIOMcD1IjLNdo9fudQfUdd
      Api-Signature:
      - ac7d301d4c007a812548710b1db5ac2cb3d30b6162a5f22ebb74af74751b8580
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"currency":"BTC","commodity":"BLK","last_price":"0.00007600","high":"0.00008255","low":"0.00007050","volume":"8.36394459","top_bid":"0.00007600","lowest_ask":"0.00007810","ask_depth":"43342.28294509","ask_count":"37","bid_depth":"5.29800507","bid_count":"28"}'
  recorded_at: Mon, 01 Dec 2014 19:14:26 GMT
recorded_with: VCR 2.9.3
