---
http_interactions:
- request:
    method: get
    uri: https://api.exco.in/v1/exchange/BTC/BLK/summary?expire=1417128694
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 4Tas39EdsfAZ2rOFFY345wvIOMcD1IjLNdo9fudQfUdd
      Api-Signature:
      - ee66af07eae32f050bc26ce8bb78b3477e04e6970c64783e2a63fbd4ccd16d32
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"currency":"BTC","commodity":"BLK","last_price":"0.00007428","high":"0.00007600","low":"0.00007200","volume":"3.23791014","top_bid":"0.00007200","lowest_ask":"0.00007423","ask_depth":"41984.31750071","ask_count":"135","bid_depth":"1.04151906","bid_count":"31"}'
  recorded_at: Thu, 27 Nov 2014 22:41:35 GMT
recorded_with: VCR 2.9.3
